* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  padding: 2em;
  gap: 1em;
}




.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 1vmin);
  width: 60%;
  text-align: center;
}

.header {
  justify-content: end;

}

.App-button {
  display: flex;
  align-items: center;
  justify-content: start;
}

button {
  font-size: 1.4rem;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  padding: 0.2em 1.4em;

}

.App-editor {
  width: 100%;
  border: 4px solid skyblue;
  padding: 0.5em;

}

